name: Release

on:
  push:
    branches: [master, beta, "release/*", "workflow/*"]
    tags:
      - "v*"

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    services:
      couchbase:
        image: couchbase:enterprise-7.6.2
        ports:
          - 8091:8091
          - 8092:8092
          - 8093:8093
          - 11210:11210
        options: >-
          --health-cmd "curl -f http://localhost:8091/pools || exit 1"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Debug branch
        run: echo "Current branch is $GITHUB_REF"

      - name: Initialize Couchbase
        run: |
          echo "Waiting for Couchbase..."
          for i in {1..30}; do
            curl -sf http://localhost:8091/pools && break
            sleep 2
          done

          # Cluster init
          curl -u Administrator:password -X POST \
            http://localhost:8091/pools/default \
            -d services=kv,index,n1ql \
            -d memoryQuota=512 \
            -d indexMemoryQuota=256

          # Create bucket
          curl -u Administrator:password -X POST \
            http://localhost:8091/pools/default/buckets \
            -d name=testing \
            -d bucketType=couchbase \
            -d ramQuotaMB=256

          # Create user
          curl -u Administrator:password -X PUT \
            http://localhost:8091/settings/rbac/users/local/user \
            -d password=password \
            -d roles=admin

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        env:
          APP_PORT: 3000
          COUCHBASE_CONNECTION_STRING: couchbase://localhost
          COUCHBASE_BUCKET: testing
          COUCHBASE_USERNAME: user
          COUCHBASE_PASSWORD: password
        run: npm test

      - name: Run tests
        run: npm test:actual

      - name: List build files
        run: |
          ls -R dist || echo "dist folder does not exist"

      - name: Dry-run semantic-release
        if: github.ref != 'refs/heads/master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release --dry-run

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
